canvas {
  border: 2px solid grey;
  background-color: white;
}

input {
  width: 0;
  height: 0;
}

.map_list{
  width: 0;
  height: 0;
}

ion-button {
  text-transform: capitalize;
}


.title {
  width:800px;
}
